<div class="title">
  <h1>Links</h1>
</div>

<div class="row">
  <% @top_links.each do |link| %>
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 link">
        <% if link.snapshot %>
            <div class="screenshot-outer"><%= link_to image_tag(link.snapshot.url, class: "screenshot"), link %></div>
        <% end %>
        <p class="title"><%= truncate(link.title, length: 60) %></p>
        <p class="short_url"><%= link_to link.display_short_path, link.short_path, target: '_blank' %></p>
        <p class="long_url"><%= link_to truncate(link.given_url, length: 60), link.given_url %></p>
      </div>
  <% end %>
</div>